[Desktop Entry]
Encoding=UTF-8
Version=3.2
Name=Download Accelerator
Comment=files download accelerator tool
Exec=downloadaccelerator
Icon=/usr/share/downloadaccelerator/daclogo.png
Terminal=false
Type=Application
StartupNotify=true
